#about-me {
  background-color: rgba(0, 0, 0, 0.785);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  border-radius: 0 0 50% 50%;
}

.about-me a {
  text-decoration: none;
  color: var(--accent);
}
.about-me a:hover {
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me p {
  text-align: center;
  font-size: 1.3rem;
  max-width: 70rem;
}

@media (max-width: 1200px) {
  .about-me {
    max-width: 29rem;
  }

  .title {
    font-size: 3rem;
  }

  #about-me {
    border-radius: 0 0 600px 600px;
  }
}
