

#footer {
    background-color: rgba(0, 0, 0, 0.579);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100dvh;
}

.footer a{
    color: var(--text);
    text-decoration: none;
    transition: ease-in-out 0.3s;

}



.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.contacts{
    height: 20rem;
    gap: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email {
    font-weight: bold;
    font-size: 1.5rem;
}

.email:hover{
    font-size: 1.7rem;
    color: var(--accent);
}


.icons {
    display: flex;
    width: 7rem;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
 
}

.logo-linkedin, .logo-github{
    font-size: 2.3rem;
  
}

.logo-github:hover, .logo-linkedin:hover {
    transition: ease-in-out 0.3s;
    color: var(--accent);
    font-size: 2.32rem;
   
}



.icon {
    cursor: pointer;
}



