
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600&display=swap');


@font-face{
    font-family: myFont;
    src:url(../font/super.ttf)
}


:root{
    --background: rgb(43, 43, 43);
    --text:rgb(228, 226, 221);
    --accent: rgb(255, 137, 169);
    --nav: rgba(6, 6, 6, 0.727);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    scroll-behavior: smooth;
    color: var(--text);

}


body{
    background-color: var(--background);
    background-image: url("../img/background.png");
    background-size: cover;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

nav {
    width: 50%;
   
}

.bar a {
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    transition: ease-in-out 300ms;
}

.bar a:hover {
 color: var(--accent);
}

img {
    max-width: 100%;

}

.title {
    font-family: myFont;
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 4px;
    color: var(--text);
    
}





.description{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}


/* Nav */

.logo>a {
    color: var(--text);
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -8px;
    padding: 15px 0;
    margin: 0 0 0 1rem ;
}

.logo:hover  a{
    color: var(--accent);
   }

.bar {
    width: 100%;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
}


.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bar-content a{
    font-size: 1.2rem;

}


.centralizer {
    max-width: 1000px;
    margin: 0 auto;
}
/* Nav */

/* hero */
#hero {
    background-color: rgba(0, 0, 0, 0.579);
    color: var(--text);
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.hero{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 


    
}



.my-name{
   color: var(--text);
   font-family: myFont;
   text-transform: uppercase;
   font-weight: 600;
   text-shadow: 2px 2px 1px var(--accent);
   letter-spacing: 4px;
   line-height: 10rem;
   font-size: 12rem;
   margin-bottom: 3rem;
 
}





.link {
    background-color: var(--accent);
    text-decoration: none;
    color: var(--background);
    font-weight: bold;
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
    padding: .6rem 1rem;
    transition: ease-in-out 500ms;
}

.link:hover {
    font-size: 1.7rem;
   
}



.close-menu {
    display: none;
}






@media (max-width:850px) {


    .logo>a {
        display: flex;
        justify-content: center;
        font-size: 3.3rem;
        letter-spacing: -10px;
    }


    .bar{
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-center{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centralizer{
        margin: 0;
    }
    .bar-container {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .bar-container .logo{
        width: 100%
    }

    .right ul {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .right ul a {
        font-size: 2;
    }


    
    /*  mobile menu */
    .bar {
        display: block;
        position: fixed;
        top: -100dvh;
        transition: ease 0.3s;
        background: var(--nav);

    }
    

    .close-menu-label::after {
        content:'≡';
        color: var(--text);
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: .6rem;
        font-size: 3rem;
        line-height:2.3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        cursor: pointer;
    }
    /* ✕ */

    .close-menu:checked~.bar {
        top: 0;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '✕';
        line-height: 3rem;
        font-size: 1.7rem;
        font-weight: bold;
    }

    .bar .bar-container ul li a{
        font-size: 1.7rem;
        text-align: center;
        padding: .5rem;
    }


/* mobile hero*/




.hero h1{
    line-height: 79px;
    font-size: 6rem;
  
 }



}

