#projects{
  background-color: rgba(0, 0, 0, 0.579);
  display: flex;
  justify-content: center;
}
 
  .projects {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 80rem;
  }
  
.projects-title{
 margin-top: 2.5rem;
 padding: 3rem;
}





.cards__items {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
   }
  
   .cards__item {
    width: 20rem;
   }
  
  
   .cards__item__img {
    width: 100%;
   }
  
   .cards__item__pic-wrap {
    width: 100%;
    padding-top: 67%;
    position: relative;
    overflow: hidden;
  }
  

  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 10px 50px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    background-color: var(--background);
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .cards__item__info a {
    font-size: 1rem;
    color: var(--background);
    text-decoration: none;
    display: block;
    font-weight: 600;
    background-color: var(--text);
    padding: 1.3rem;
  }



